{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Status
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Administration › Contrats › Liste</h1>

    <ul>
        <li>
            <a href="{{ path('contract_new') }}">Créer un nouveau contrat</a>
        </li>
    </ul>

    {% if contracts is defined and contracts|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Code couleur</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr>
                    <td><a href="{{ path('contract_show', { 'id': contract.id }) }}">{{ contract.id }}</a></td>
                    <td>{{ contract.name }}</td>
                    <td> <span style="background:{{ contract.color }}; width:20px; height:20px; display:block;">&nbsp;</span> </td>
                    <td>{{ contract.color }}</td>
                    <td>{% if contract.createdAt %}{{ contract.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>{% if contract.updatedAt %}{{ contract.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('contract_show', { 'id': contract.id }) }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('contract_edit', { 'id': contract.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        <form action="{{ path('contract_delete', { 'id': contract.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[contract.id]) }}
                            <button type="submit" class="btn btn-small">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Pas de contrats. </p>
    {% endif %}

{% endblock %}
