<ul>
    <li> <a href="{{ path('home_page') }}"> Retour vers le site </a> </li>
    <li> <a href="{{ path('admin_home_page') }}"> Tableau de bord </a> </li>
    <li> <a href="{{ path('user_index') }}"> Membres </a> </li>
    <li> <a href="{{ path('contract_index') }}"> Contrats </a> </li>
    <li> <a href="{{ path('status_index') }}"> Status </a> </li>
    <li> <a href="{{ path('admin_profil') }}"> Profil </a> </li>
</ul>