<ul>
    <li> <a href="{{ path('home_page') }}"> Retour vers le site </a> </li>
    <li> <a href="{{ path('admin_home_page') }}"> Tableau de bord </a> </li>
    <li> <a href="{{ path('admin_user_list_page') }}"> Membres </a> </li>
    <li> <a href="{{ path('contract_index') }}"> Contrats </a> </li>
    <li> <a href="{{ path('status_index') }}"> Status </a> </li>
    <!--<li> <a href="{{ path('fos_user_profile_show') }}"> Profil </a> </li>-->
    <li> <a href="{{ path('user_profil') }}"> Profil </a> </li>
</ul>