<ul>
    <li> <a href="{{ path('home_page') }}"> Retour vers le site </a> </li>
    <li> <a href="{{ path('admin_home_page') }}"> Tableau de bord </a> </li>
    <li> <a href="{{ path('admin_user_list_page') }}"> Membres </a> </li>
    <li> <a href="{{ path('admin_contract_list_page') }}"> Contrats </a> </li>
    <li> <a href="{{ path('admin_status_list_page') }}"> Status </a> </li>
    <li> <a href="{{ path('fos_user_profile_show') }}"> Profil </a> </li>
</ul>