{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes candidatures › Liste</h1>

    <p> <a href="{{ path('application_new') }}"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une nouvelle candidature </a> </p>

    {% if applications is defined and applications|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nom</th>
                <th>Contrat</th>
                <th>Entreprise</th>
                <th>Statut</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                <td> {{ application.dateAt|date('d/m/Y') }} </td>
                <td> {{ application.name }} </td>
                <td>
                    <span style="background:{{ application.contract.color }}; color:#fff; padding:3px;">
                        {{ application.contract.name }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('company_show', { 'id': application.company.id }) }}"> {{ application.company.name }} </a>
                </td>
                <td> <i class="fa {{ application.status.icon }}" aria-hidden="true"></i> {{ application.status.name }} </td>
                <td>{% if application.createdAt %}{{ application.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                <td>{% if application.updatedAt %}{{ application.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                <td>
                    <a href="{{ path('application_show', { 'id': application.id }) }}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('application_edit', { 'id': application.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="{{ path('application_delete', { 'id': application.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(deleteForms[application.id]) }}
                        <button type="submit" class="btn btn-small">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Pas de candidatures. </p>
    {% endif %}

{% endblock %}
