{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes candidatures › Liste</h1>

    <ul>
        <li>
            <a href="{{ path('application_new') }}">Créer une nouvelle candidature</a>
        </li>
    </ul>

    {% if applications is defined and applications|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contrat</th>
                <th>Statut</th>
                <th>Entreprise</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                <td> {{ application.name }} </td>
                <td> {{ application.contract.name }} </td>
                <td> {{ application.status.name }} </td>
                <td> {{ application.company.name }} </td>
                <td>{% if application.createdAt %}{{ application.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                <td>{% if application.updatedAt %}{{ application.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                <td>
                    <a href="{{ path('application_show', { 'id': application.id }) }}">Voir</a>
                    <a href="{{ path('application_edit', { 'id': application.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Pas de candidatures. </p>
    {% endif %}

{% endblock %}
