{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes candidatures › Fiche</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ application.name }}</td>
            </tr>
            <tr>
                <th>Url de l'annonce</th>
                <td>{{ application.url }}</td>
            </tr>
            <tr>
                <th>Contrat</th>
                <td>{{ application.contract.name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ application.status.name }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ application.company.name }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ application.comment }}</td>
            </tr>
            <tr>
                <th>Motif entreprise</th>
                <td>{{ application.businessReason }}</td>
            </tr>
            <tr>
                <th>Motif candidat</th>
                <td>{{ application.peopleReason }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if application.createdAt %}{{ application.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{% if application.updatedAt %}{{ application.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_index') }}">Retour à la liste des candidatures</a>
        </li>
        <li>
            <a href="{{ path('application_edit', { 'id': application.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
