{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes entreprises
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes entreprises › Supprimer</h1>

    <p>
        Etes-vous certain de vouloir supprimer l'entreprise "{{ company.name }}" ?
    </p>

    <div class="well">
    {{ form_start(delete_form) }}
        <input type="submit" value="Oui, je confirme la suppression" class="btn btn-primary" />
        {{ form_rest(delete_form) }}
    {{ form_end(delete_form) }}
    </div>

    <p> <a href="{{ path('company_index') }}" class="btn btn-default">Retour à la liste des entreprises</a> </p>

{% endblock %}
