{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes entreprises
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li> <a href="{{ path('company_index') }}"> Mes entreprises </a> </li>
        <li class="active"> Liste </li>
    </ol>

    <p> <a href="{{ path('company_new') }}" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une nouvelle entreprise </a> </p>

    {% if companies is defined and companies|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Contact</th>
                    <th>Site web</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.contact }}</td>
                    <td>
                        <a href="http://{{ company.website }}" target="_blank"> {{ company.website }} </a>
                    </td>
                    <td>{% if company.createdAt %}{{ company.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>{% if company.updatedAt %}{{ company.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-info btn-xs">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-warning btn-xs">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('company_delete', { 'id': company.id }) }}" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Pas d'entreprises. </p>
    {% endif %}

{% endblock %}
