{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes entreprises
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes entreprises › Liste</h1>

    <p> <a href="{{ path('company_new') }}"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une nouvelle entreprise </a> </p>

    {% if companies is defined and companies|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Site web</th>
                    <th>Contact</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                    <td>{{ company.name }}</td>
                    <td>
                        <a href="mailto:{{ company.email }}"> {{ company.email }} </a>
                    </td>
                    <td>{{ company.phone }}</td>
                    <td>
                        <a href="http://{{ company.website }}" target="_blank"> {{ company.website }} </a>
                    </td>
                    <td>{{ company.contact }}</td>
                    <td>{% if company.createdAt %}{{ company.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>{% if company.updatedAt %}{{ company.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('company_show', { 'id': company.id }) }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('company_edit', { 'id': company.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <form action="{{ path('company_delete', { 'id': company.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[company.id]) }}
                            <button type="submit" class="btn btn-small">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Pas d'entreprises. </p>
    {% endif %}

{% endblock %}
