{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes entreprises
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Mon Compte › Mes entreprises › Liste</h1>

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Créer une nouvelle entreprise</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Site web</th>
                <th>Contact</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.contact }}</td>
                <td>{% if company.createdAt %}{{ company.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if company.updatedAt %}{{ company.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('company_show', { 'id': company.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('company_edit', { 'id': company.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
