{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Etats d'entretien
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li> <a href="{{ path('state_index') }}"> Etats d'entretien </a> </li>
        <li class="active"> Liste </li>
    </ol>

    <div class="actions">
        <a href="{{ path('state_new') }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Ajouter un nouvel état
        </a>
    </div>

    <div class="box">
        <div class="box-body">
            <div id="state_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if states is defined and states|length > 0 %}
                            <table id="state" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="state_info">
                                <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Couleur</th>
                                    <th>Code couleur</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for state in states %}
                                    <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                        <td><a href="{{ path('state_show', { 'id': state.id }) }}">{{ state.id }}</a></td>
                                        <td>{{ state.name }}</td>
                                        <td> <span style="background:{{ state.color }}; width:20px; height:20px; display:block;">&nbsp;</span> </td>
                                        <td>{{ state.color }}</td>
                                        <td>{% if state.createdAt %}{{ state.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if state.updatedAt %}{{ state.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>
                                            <a href="{{ path('state_show', { 'id': state.id }) }}" class="btn btn-info btn-xs">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{ path('state_edit', { 'id': state.id }) }}" class="btn btn-warning btn-xs">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{ path('state_delete', { 'id': state.id }) }}" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Couleur</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p> Pas d'états d'entretien. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}