{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Mes alertes
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li class="active"> Mes alertes </li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div id="alert_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if alerts is defined and alerts|length > 0 %}
                            <table id="alert" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="alert_info">
                                <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Libellé</th>
                                    <th>Commentaire</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for alert in alerts %}
                                    <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                        <td> {{ alert.id }} </td>
                                        <td> {{ alert.dateAt|date('d/m/Y') }} </td>
                                        <td> {{ alert.name }} </td>
                                        <td>
                                            {{ alert.content }}
                                            {% if alert.name == "Relance" %}
                                                <a href="{{ path('application_show',{'id': alert.application.id }) }}">{{ alert.application.name }}</a>
                                                à
                                                <a href="{{ path('company_show',{'id': alert.application.company.id }) }}"> {{ alert.application.company.name }} </a>
                                            {% elseif alert.name == "Entretien" %}
                                                <a href="{{ path('appointment_show',{'id': alert.appointment.id }) }}">{{ alert.appointment.name }}</a>
                                                à
                                                <a href="{{ path('company_show',{'id': alert.appointment.application.company.id }) }}"> {{ alert.appointment.application.company.name }} </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if alert.viewed %}
                                                <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Lue
                                            {% else %}
                                                <a href="{{ path('alert_valid', { 'id': alert.id, 'state': true }) }}" class="btn btn-info btn-sm">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> &nbsp; Lire
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Libellé</th>
                                    <th>Commentaire</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p> Pas d'alertes en cours. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}