{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Candidatures
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li> <a href="{{ path('application_list') }}"> Candidatures </a> </li>
        <li class="active"> Liste </li>
    </ol>

    <div class="box">
        <div class="box-body">
            <div id="application_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if applications is defined and applications|length > 0 %}
                            <table id="application" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="application_info">
                                <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Nom</th>
                                    <th>Contrat</th>
                                    <th>Entreprise</th>
                                    <th>Statut</th>
                                    <th>Utilisateur</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for application in applications %}
                                    <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                        <td><a href="{{ path('application_list_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                                        <td> {{ application.dateAt|date('d/m/Y') }} </td>
                                        <td> {{ application.name }} </td>
                                        <td>
                                            <span style="background:{{ application.contract.color }}; color:#fff; padding:3px;">
                                                {{ application.contract.name }}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{{ path('company_show', { 'id': application.company.id }) }}"> {{ application.company.name }} </a>
                                        </td>
                                        <td> <i class="fa {{ application.status.icon }}" aria-hidden="true"></i> {{ application.status.name }} </td>
                                        <td> {{ application.user.username }} </td>
                                        <td>{% if application.createdAt %}{{ application.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                                        <td>{% if application.updatedAt %}{{ application.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                                        <td>
                                            <a href="{{ path('application_list_show', { 'id': application.id }) }}" class="btn btn-info btn-xs">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Nom</th>
                                    <th>Contrat</th>
                                    <th>Entreprise</th>
                                    <th>Statut</th>
                                    <th>Utilisateur</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p> Pas de candidatures. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}