{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    MyJobs - Administration - Profil
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li class="active"> Profil </li>
    </ol>

    <div class="fos_user_user_show">
        <p> <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i> </p>
        <p> {{ 'profile.show.username'|trans }}: {{ user.username }} </p>
        <p> {{ 'profile.show.email'|trans }}: {{ user.email }} </p>
        <p> <a href="{{ path('admin_profil_edit') }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a> </p>
    </div>

{% endblock %}