{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    MyJobs - Administration - Profil
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li class="active"> Profil </li>
    </ol>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th> Image </th>
                <td> <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i> </td>
            </tr>
            <tr>
                <th> {{ 'profile.show.username'|trans }} </th>
                <td> {{ user.username }} </td>
            </tr>
            <tr>
                <th> {{ 'profile.show.email'|trans }} </th>
                <td> {{ user.email }} </td>
            </tr>
        </tbody>
    </table>

    <p> <a href="{{ path('admin_profil_edit') }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a> </p>

{% endblock %}