{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
    <div class="register-logo">
        <a href="{{ path('home_page') }}"><b>MyJobs</b></a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Création de compte</p>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
        {{ form_end(form) }}

        <br />
        <p> <a href="{{ path('fos_user_security_login') }}" class="text-center">J'ai déjà un compte utilisateur ?</a> </p>

    </div>
    <!-- /.form-box -->
</div>