{% extends "JGAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    MyJobs - Mon Compte - Profil
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li class="active"> Profil </li>
    </ol>

    <table class="table table-responsive">
        <tbody>
        <tr>
            <th> Photo </th>
            <td>
                {% if file_exists('uploads/profiles/' ~ user.picture) %}
                    <img src="{{ asset('uploads/profiles/' ~ user.picture) }}" width="150" />
                {% else %}
                    <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th> {{ 'profile.show.username'|trans }} </th>
            <td> {{ user.username }} </td>
        </tr>
        <tr>
            <th> {{ 'profile.show.email'|trans }} </th>
            <td> {{ user.email }} </td>
        </tr>
        <tr>
            <th> {{ 'profile.show.lastname'|trans }} </th>
            <td> {{ user.lastname }} </td>
        </tr>
        <tr>
            <th> {{ 'profile.show.firstname'|trans }} </th>
            <td> {{ user.firstname }} </td>
        </tr>
        </tbody>
    </table>

    <p> <a href="{{ path('account_profil_edit') }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a> </p>

{% endblock %}