{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Entreprises
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li> <a href="{{ path('company_list') }}"> Entreprises </a> </li>
        <li class="active"> Fiche </li>
    </ol>

<div class="box box-default">
    <div class="box-header"> <i class="fa fa-eye" aria-hidden="true"></i> <h3 class="box-title"> Fiche entreprise </h3> </div>
    <div class="box-body box-company">

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ company.user.username }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ company.address1 }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ company.address2 }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ company.postcode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ company.country }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ company.email }}"> {{ company.email }} </a></td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td><a href="http://{{ company.website }}" target="_blank"> {{ company.website }} </a></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ company.contact }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ company.comment }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if company.createdAt %}{{ company.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{% if company.updatedAt %}{{ company.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        </div>
</div>

    <div class="actions">
        <a href="{{ path('company_list') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des entreprises
        </a>
    </div>

{% endblock %}
