{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Administration - Membres
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}
    <h1> Administration › Membres </h1>

    <p> <a href="{{ path('user_new') }}"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un membre </a> </p>

    {% if administrators is defined and administrators|length > 0 %}
        <h2> ADMINISTRATEURS </h2>
        <table id="table_administrators" style="text-align:left;" cellspacing="10">
            <thead>
            <th> Id </th>
            <th> Email </th>
            <th> Actif </th>
            <th> Super admin </th>
            <th> Date de création </th>
            <th> Date de modification </th>
            <th> Actions </th>
            </thead>
            <tbody>
            {% for admin in administrators %}
                <tr>
                    <td> {{ admin.id }} </td>
                    <td> {{ admin.email }} </td>
                    <td> {% if admin.enabled %}Oui{% else %}Non{% endif %} </td>
                    <td> {% if admin.superAdmin %}Oui{% else %}Non{% endif %} </td>
                    <td> {{ admin.createdAt|date('d/m/Y à H:i') }} </td>
                    <td> {{ admin.updatedAt|date('d/m/Y à H:i') }} </td>
                    <td>
                        {% if app.user.id != admin.id %}
                        <a href="{{ path('user_edit', { 'id': admin.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('admin_home_page', {'_switch_user': admin.username }) }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Pas d'administrateurs </p>
    {% endif %}
    {% if users is defined and users|length > 0 %}
        <h2> UTILISATEURS </h2>
        <table id="table_users" style="text-align:left;" cellspacing="10">
            <thead>
                <th> Id </th>
                <th> Email </th>
                <th> Actif </th>
                <th> Nb Candidatures </th>
                <th> Date de création </th>
                <th> Date de modification </th>
                <th> Actions </th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.id }} </td>
                    <td> {{ user.email }} </td>
                    <td> {% if user.enabled %}Oui{% else %}Non{% endif %} </td>
                    <td> {{ user.applications|length }} </td>
                    <td> {{ user.createdAt|date('d/m/Y à H:i') }} </td>
                    <td> {{ user.updatedAt|date('d/m/Y à H:i') }} </td>
                    <td>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('account_home_page', {'_switch_user': user.username }) }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                        <form action="{{ path('user_delete', { 'id': user.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[user.id]) }}
                            <button type="submit" class="btn btn-small">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Pas d'utilisateurs </p>
    {% endif %}
{% endblock %}