{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
    <div class="register-logo">
        <a href="{{ path('home_page') }}"><b>MyJobs</b></a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Mot de passe oublié ?</p>

        {% for msg in app.session.flashbag.get('error') %}
            <div class="callout callout-danger">{{ msg }}</div>
        {% endfor %}

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div class="form-group has-feedback">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="username" required="required" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group">
            <input type="submit" id="submit" name="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
        </div>

        </form>

        <a href="{{ path('fos_user_security_login') }}" class="text-center">J'ai déjà un compte utilisateur ?</a>
        <br /> <br />
        <a href="{{ path('fos_user_registration_register') }}" class="text-center">Créer un nouveau compte ?</a>

    </div>
    <!-- /.form-box -->
</div>