{% extends "MyJobsAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte
{% endblock %}

{% block menu %}
    {% include 'MyJobsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li class="active"> Tableau de bord </li>
    </ol>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="circle"> 1 <h4> Créer vos entreprises </h4> </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="circle"> 2 <h4> Créer vos candidatures </h4> </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="circle"> 3 <h4> Programmer vos entretiens </h4> </div>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="circle"> 4 <h4> Consulter vos statistiques </h4> </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Dernières candidatures</div>
            {% if myLastApplications is defined and myLastApplications|length > 0 %}
                <table class="table table-responsive">
                    {% for application in myLastApplications %}
                        <tr>
                            <td> {{ application.name }} </td>
                            <td>
                                <a href="{{ path('application_show', { 'id': application.id }) }}" class="btn btn-info">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body">
                    <p> Pas de candidatures. </p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Dernières entreprises</div>
            {% if myLastCompanies is defined and myLastCompanies|length > 0 %}
                <table class="table table-responsive">
                    {% for company in myLastCompanies %}
                        <tr>
                            <td> {{ company.name }} </td>
                            <td>
                                <a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-info">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body">
                    <p> Pas d'entreprises. </p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Derniers entretiens</div>
            {% if myLastAppointments is defined and myLastAppointments|length > 0 %}
                <table class="table table-responsive">
                    {% for appointment in myLastAppointments %}
                        <tr>
                            <td> &nbsp; </td>
                            <td> &nbsp; </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body">
                    <p> Pas d'entretiens. </p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Dernières statistiques</div>
            <table class="table table-responsive">
                <tr> <td> {{ nbApplications }} candidature(s) </td> </tr>
                <tr> <td> {{ nbCompanies }} entreprise(s) </td> </tr>
                <tr> <td> {{ nbAppointments }} entretien(s) </td> </tr>
            </table>
        </div>
    </div>

{% endblock %}