<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <!--<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>-->
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        <div id="header">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_home_page') }}">Espace d'adminstration</a>
                {% else %}
                    <a href="{{ path('account_home_page') }}">Mon compte</a>
                {% endif %}
                </p>
            {% else %}
                <p>
                    <a href="{{ path('home_page') }}">Accueil</a>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </p>
            {% endif %}
        </div>

        <div id="top">
            {% block top %}
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}
            {% endblock %}
        </div>

        {% include 'JGFrontBundle:Front:Common/footer.html.twig' %}

        {% block javascripts %}
        {% endblock %}

    </body>
</html>