{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Mon Compte
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li class="active"> Tableau de bord </li>
    </ol>

    {% if showMsgConfPreferences %}
        <div class="callout callout-danger">
            <h4>Mes Préférences</h4>
            <p>
                Veuillez configurer vos préférences dans la rubrique associée
                <a href="{{ path('preference_index') }}"> Mes Préférences </a>
                pour bénéficier pleinement des fonctionnalités de la plateforme.
            </p>
        </div>
    {% endif %}

    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12 {% if preference and preference.showCompanies == false %}hidden{% endif %}">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Entreprises</span>
                    <span class="info-box-number">Créer <br /> vos entreprises</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12 {% if preference and preference.showApplications == false %}hidden{% endif %}">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Candidatures</span>
                    <span class="info-box-number">Créer <br /> vos candidatures</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12 {% if preference and preference.showAppointments == false %}hidden{% endif %}">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Entretiens</span>
                    <span class="info-box-number">Programmer <br /> vos entretiens</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12 {% if preference and preference.showStatistics == false %}hidden{% endif %}">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Statistiques</span>
                    <span class="info-box-number">Consulter <br /> vos statistiques</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

    </div>

    <div class="row">

        <br />

        <div class="col-xs-12 col-sm-6 {% if preference and preference.showCompanies == false %}hidden{% endif %}">
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">Entreprises</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% if myLastCompanies and myLastCompanies|length > 0 %}
                        <table class="table table-responsive">
                            {% for company in myLastCompanies %}
                                <tr>
                                    <td class="text-left"> {{ company.name }} </td>
                                    <td class="text-right">
                                        <a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-default btn-sm">
                                            Voir la fiche
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="panel-body">
                            <p> Pas d'entreprises. </p>
                        </div>
                    {% endif %}
                </div><!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 {% if preference and preference.showApplications == false %}hidden{% endif %}">
            <div class="box box-solid box-success">
                <div class="box-header">
                    <h3 class="box-title">Candidatures</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% if myLastApplications and myLastApplications|length > 0 %}
                        <table class="table table-responsive">
                            {% for application in myLastApplications %}
                                <tr>
                                    <td class="text-left"> {{ application.name }} </td>
                                    <td class="text-right">
                                        <a href="{{ path('application_show', { 'id': application.id }) }}" class="btn btn-default btn-sm">
                                            Voir la fiche
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="panel-body">
                            <p> Pas de candidatures. </p>
                        </div>
                    {% endif %}
                </div><!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 {% if preference and preference.showAppointments == false %}hidden{% endif %}">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title">Entretiens</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                {% if myLastAppointments and myLastAppointments|length > 0 %}
                    <table class="table table-responsive">
                        {% for appointment in myLastAppointments %}
                            <tr>
                                <td class="text-left">
                                    {{ appointment.name }} - {{ appointment.application.company.name }}
                                    <span style="background:{{ appointment.state.color }}; color:#fff; padding:3px; margin: 0 5px;">
                                        {{ appointment.state.name }}
                                    </span>
                                    le {{ appointment.dateAt|date('d/m/Y') }} à {{ appointment.hourAt|date('H:i:s') }}
                                </td>
                                <td class="text-right">
                                    <a href="{{ path('appointment_show', { 'id': appointment.id }) }}" class="btn btn-default btn-sm">
                                        Voir la fiche
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="panel-body">
                        <p> Pas d'entretiens. </p>
                    </div>
                {% endif %}
                </div><!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 {% if preference and preference.showStatistics == false %}hidden{% endif %}">
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <h3 class="box-title">Statistiques</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-responsive">
                        <tr>
                            <td class="text-left"> {{ nbApplications }} candidature(s) </td>
                        </tr>
                        <tr>
                            <td class="text-left"> {{ nbCompanies }} entreprise(s) </td>
                        </tr>
                        <tr>
                            <td class="text-left"> {{ nbAppointments }} entretien(s) </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>

    </div>

{% endblock %}