<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') == "account_home_page" %}active{% endif %}">
        <a href="{{ path('account_home_page') }}">
            <i class="fa fa-home" aria-hidden="true"></i> <span> Tableau de bord </span>
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "company_index" %}active{% endif %} treeview">
        <a href="{{ path('company_index') }}">
            <i class="fa fa-building-o" aria-hidden="true"></i> <span> Mes Entreprises </span>
            {% if nbCompanies() > 0 %}
                <span class="pull-right-container">
                  <small class="label pull-right bg-aqua"> {{ nbCompanies() }} </small>
                </span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "application_index" %}active{% endif %}">
        <a href="{{ path('application_index') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> <span> Mes Candidatures </span>
            {% if nbApplications() > 0 %}
                <span class="pull-right-container">
                  <small class="label pull-right bg-green"> {{ nbApplications() }} </small>
                </span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "appointment_index" %}active{% endif %}">
        <a href="{{ path('appointment_index') }}">
            <i class="fa fa-calendar" aria-hidden="true"></i> <span> Mes Entretiens </span>
            {% if nbAppointments() > 0 %}
                <span class="pull-right-container">
                  <small class="label pull-right bg-orange"> {{ nbAppointments() }} </small>
                </span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "statistic_index" %}active{% endif %}">
        <a href="{{ path('statistic_index') }}">
            <i class="fa fa-bar-chart" aria-hidden="true"></i> <span> Mes Statistiques </span>
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "alert_index" %}active{% endif %}">
        <a href="{{ path('alert_index') }}">
            <i class="fa fa-bell-o" aria-hidden="true"></i> <span> Mes Alertes </span>
            {% if nbAlerts() > 0 %}
                <span class="pull-right-container">
                  <small class="label pull-right bg-red"> {{ nbAlerts() }} </small>
                </span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "preference_index" %}active{% endif %}">
        <a href="{{ path('preference_index') }}">
            <i class="fa fa-heart" aria-hidden="true"></i> <span> Mes préférences </span>
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == "account_profil" %}active{% endif %}">
        <a href="{{ path('account_profil') }}">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span> Profil </span>
        </a>
    </li>
    <li>
        <a href="{{ path('home_page') }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> <span> Retour vers le site </span>
        </a>
    </li>
</ul>