{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    MyJobs - Mon Compte - Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li> <a href="{{ path('application_index') }}"> Mes candidatures </a> </li>
        <li class="active"> Editer </li>
    </ol>

    <div class="well">
    {{ form_start(edit_form, {'attr': {'class': ''}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-primary" />
    {{ form_end(edit_form) }}
    </div>

    <p> <a href="{{ path('application_index') }}" class="btn btn-default">Retour à la liste des candidatures</a> </p>

{% endblock %}
