{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li> <a href="{{ path('application_index') }}"> Mes candidatures </a> </li>
        <li class="active"> Editer </li>
    </ol>

    <div class="box box-default">
        {{ form_start(edit_form, {'attr': {'class': '', 'role': 'form'}}) }}
        <div class="box-body">
            {{ form_widget(edit_form) }}
        </div>
        <div class="box-footer">
            <input type="submit" value="Modifier" class="btn btn-warning" />
        </div>
        {{ form_end(edit_form) }}
    </div>

    <div class="actions">
        <a href="{{ path('application_index') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des entreprises
        </a>
    </div>

{% endblock %}
