{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Mes candidatures
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li> <a href="{{ path('application_index') }}"> Mes candidatures </a> </li>
        <li class="active"> Fiche </li>
    </ol>

    <div class="box box-default">
        <div class="box-header"> <i class="fa fa-eye" aria-hidden="true"></i> <h3 class="box-title"> Fiche candidature </h3> </div>
        <div class="box-body box-application">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ application.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ application.dateAt|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ application.name }}</td>
                    </tr>
                    <tr>
                        <th>Url de l'annonce</th>
                        <td>{{ application.url }}</td>
                    </tr>
                    <tr>
                        <th>Contrat</th>
                        <td>
                            <span style="background:{{ application.contract.color }}; color:#fff; padding:3px;">
                                {{ application.contract.name }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td><i class="fa {{ application.status.icon }}" aria-hidden="true"></i> {{ application.status.name }}</td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <td><a href="{{ path('company_show', { 'id': application.company.id }) }}"> {{ application.company.name }} </a></td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ application.comment }}</td>
                    </tr>
                    <tr>
                        <th>Motif Entreprise</th>
                        <td>{{ application.businessReason }}</td>
                    </tr>
                    <tr>
                        <th>Motif Candidat</th>
                        <td>{{ application.peopleReason }}</td>
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>{% if application.createdAt %}{{ application.createdAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date de modification</th>
                        <td>{% if application.updatedAt %}{{ application.updatedAt|date('d/m/Y à H:i') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-default">
        <div class="box-header"> <i class="fa fa-calendar" aria-hidden="true"></i> <h3 class="box-title"> Entretiens </h3> </div>
        <div class="box-body box-application">
            <table class="table table-responsive">
                <tbody>
                {% if application.appointments is defined and application.appointments|length > 0 %}
                    {% for appointment in application.appointments %}
                        <tr>
                            <td class="text-left">
                                {{ appointment.name }}
                                <span style="background:{{ appointment.state.color }}; color:#fff; padding:3px;">
                                    {{ appointment.state.name }}
                                </span>
                                &nbsp;
                                le {{ appointment.dateAt|date('d/m/Y') }} à {{ appointment.hourAt|date('H:i') }}
                            </td>
                            <td class="text-right">
                                {{ form_start(deleteAppointmentForms[appointment.id], {'attr': {'class': '', 'role': 'form'}}) }}
                                {{ form_widget(deleteAppointmentForms[appointment.id]) }}
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                {{ form_end(deleteAppointmentForms[appointment.id]) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p> Pas d'entretiens. </p>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ path('appointment_new') }}" class="btn btn-default pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Ajouter un entretien
            </a>
        </div>
    </div>

    <div class="callout callout-info">
        <h4>Information</h4>
        <p>MyJobs ne relance pas l'entreprise pour vous !</p>
        <p>La rubrique ci-dessous vous permet simplement de notifier que vous avez relancé l'entreprise à une date/heure précise.</p>
    </div>

    <div class="box box-default">
        <div class="box-header"> <i class="fa fa-calendar" aria-hidden="true"></i> <h3 class="box-title"> Relances </h3> </div>
        <div class="box-body box-application">

            <table class="table table-responsive">
                <tbody>
                {% if application.relaunches is defined and application.relaunches|length > 0 %}
                    {% for relaunch in application.relaunches %}
                        <tr>
                            <td class="text-left">
                                Relance le {{ relaunch.dateAt|date('d/m/Y') }} à {{ relaunch.hourAt|date('H:i') }} -
                                Commentaire : {{ relaunch.comment }}
                            </td>
                            <td class="text-right">
                                {{ form_start(deleteRelaunchForms[relaunch.id], {'attr': {'class': '', 'role': 'form'}}) }}
                                {{ form_widget(deleteRelaunchForms[relaunch.id]) }}
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                {{ form_end(deleteRelaunchForms[relaunch.id]) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p> Pas de relances. </p>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modalNewRelaunch">
                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Ajouter une relance
            </button>
            {% include 'JGAdminBundle:Account/relaunch:modal.html.twig' %}
        </div>
    </div>

    <div class="actions">
        <a href="{{ path('application_index') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à la liste des candidatures
        </a>
        <a href="{{ path('application_edit', { 'id': application.id }) }}" class="btn btn-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Modifier
        </a>
        <a href="{{ path('application_delete', { 'id': application.id }) }}" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Supprimer
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        initAjaxForm();
        function initAjaxForm()
        {
            $('body').on('submit', 'form[name=jg_corebundle_relaunch]', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{{ path('add_relaunch', { 'id': application.id }) }}",
                    data: $(this).serialize()
                })
                .done(function (data) {
                    if (typeof data.message !== 'undefined') {
                        if (data.message == 'Success') {
                            $('#modalNewRelaunch').modal('hide');
                            $.growl.notice({ message: "Relance ajoutée avec succès !" });
                            setTimeout(function(){
                                location.reload();
                            }, 1500);
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        $('.form_error').html(jqXHR.responseJSON.message);
                    } else {
                        alert(errorThrown);
                    }
                });
            });
        }
    </script>
{% endblock %}