{% extends "JGAdminBundle::layout.html.twig" %}

{% block header %}
    Status
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Admin:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('admin_home_page') }}"> Administration </a> </li>
        <li> <a href="{{ path('status_index') }}"> Status </a> </li>
        <li class="active"> Supprimer </li>
    </ol>

    <p>
        Etes-vous certain de vouloir supprimer le status "{{ status.name }}" ?
    </p>

    <div class="well">
    {{ form_start(delete_form) }}
        <input type="submit" value="Oui, je confirme la suppression" class="btn btn-success" />
        {{ form_rest(delete_form) }}
    {{ form_end(delete_form) }}
    </div>

    <p> <a href="{{ path('status_index') }}" class="btn btn-default">Retour à la liste des status</a> </p>

{% endblock %}
