{% extends "JGAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.print.css') }}" media="print">
{% endblock %}

{% block header %}
    Mes entretiens
{% endblock %}

{% block menu %}
    {% include 'JGAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li> <a href="{{ path('account_home_page') }}"> Mon Compte </a> </li>
        <li> <a href="{{ path('appointment_index') }}"> Mes entretiens </a> </li>
        <li class="active"> Liste </li>
    </ol>

    <div class="actions">
        <a href="{{ path('appointment_new') }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Ajouter un nouvel entretien
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header"> <i class="fa fa-calendar" aria-hidden="true"></i> <h3 class="box-title"> Calendrier </h3> </div>
                <div class="box-body box-calendrier">
                    <div id="calendar"></div>
                    <div class="legends">
                        Entretien
                        {% for state in states %}
                            <span style="padding: 5px; color: #fff; background: {{ state.color }}; margin: 0 0 0 10px;"> {{ state.name }} </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="box box-default">
                <div class="box-header"> <i class="fa fa-calendar" aria-hidden="true"></i> <h3 class="box-title"> Entretiens </h3> </div>
                <div class="box-body">
                    <div id="appointment_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if appointments is defined and appointments|length > 0 %}
                                    <table id="appointment" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="appointment_info">
                                        <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Statut</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for appointment in appointments %}
                                            <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                                <td><a href="{{ path('appointment_show', { 'id': appointment.id }) }}">{{ appointment.id }}</a></td>
                                                <td>{{ appointment.name }}</td>
                                                <td>
                                                    <span style="background:{{ appointment.state.color }}; color:#fff; padding:3px;">
                                                        {{ appointment.state.name }}
                                                    </span>
                                                </td>
                                                <td>{% if appointment.dateAt %}{{ appointment.dateAt|date('d/m/Y') }}{% endif %}</td>
                                                <td>{% if appointment.hourAt %}{{ appointment.hourAt|date('H:i') }}{% endif %}</td>
                                                <td>
                                                    <a href="{{ path('appointment_show', { 'id': appointment.id }) }}" class="btn btn-info btn-xs">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="{{ path('appointment_edit', { 'id': appointment.id }) }}" class="btn btn-warning btn-xs">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="{{ path('appointment_delete', { 'id': appointment.id }) }}" class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Statut</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th>Actions</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% else %}
                                    <p> Pas d'entretiens. </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/fullcalendar/dist/locale/fr.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#appointment').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "processing":     "Traitement en cours...",
                    "search":         "Rechercher&nbsp;:",
                    "lengthMenu":    "Afficher _MENU_ &eacute;l&eacute;ments",
                    "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "infoPostFix":    "",
                    "loadingRecords": "Chargement en cours...",
                    "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "paginate": {
                        "first":      "Premier",
                        "previous":   "Pr&eacute;c&eacute;dent",
                        "next":       "Suivant",
                        "last":       "Dernier"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                locale: 'fr',
                events: [
                    {% if appointments is defined and appointments|length > 0 %}
                        {% for appointment in appointments %}
                            {
                                title: "{{ appointment.application.company.name|upper }}",
                                start: "{{ appointment.dateAt|date('Y-m-d') }}",
                                backgroundColor: "{{ appointment.state.color }}",
                                borderColor: "{{ appointment.state.color }}",
                                url: "{{ path('appointment_show', { 'id': appointment.id }) }}"
                            },
                        {% endfor %}
                    {% endif %}
                ]
            });
        });
    </script>
{% endblock %}